.expense-item
{
    display : flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(203, 47, 242);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    background-color: white;
    color : black;
}

.expenses
{
    background-color: rgba(0, 0, 100, 0.5);
    padding : 1rem 2rem;
    border: 3px solid rgb(203, 47, 242);
    width : 60%;
}

.expense-filter
{
    background-color: white;
    display : flex;
    border: 3px solid rgb(203, 47, 242);
}
.filter-controls select
{
  padding: 0.5rem;
  border-radius: 8px;
}
.filter-controls
{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}